/* Buy tickets banner on Home */
.buy-tickets-banner {
  margin: 30px 0 30px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.buy-tickets-banner .text:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-image: url(../img/page-header.png);
  background-repeat: no-repeat;
  background-position: right top;
  opacity: .6;
}
.buy-tickets-banner .text:before,
#page-header.background-move-effect .text:before {
  transition: background 1s;
  background-position: 80% 100px;
}
.buy-tickets-banner:hover .text:before,
#page-header.background-move-effect:hover .text:before {
  background-position: 100% 0;
  transition: background 0.8s;
}
.buy-tickets-banner .white {
  color: #000 !important;
}

/* General styles */
p, p b, p strong {
  color: #000;
}


.quote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  max-width: 100%;
  margin: 50px 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  border-left: none !important;
}
.quote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

.quote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
.quote cite:before {
content: "\2014 \2009";
}

/* Header wrap */

.header-wrap {
  height: 80vh;
  background: #e9eef5 url("../img/banner.png") 0 50px no-repeat;
  background-size: contain;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  .header-wrap {
    height: 32vh;
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}

/* Buy tickets banner has to be visible on mobile phones */
@media screen and (max-width: 425px) {
  #page-header.background-move-effect {
    margin-left: -10px;
    margin-right: -10px;
  }
}

/** Main nav on mobile */

@media screen and (max-width: 991px) {
  header nav.navbar {
    padding: 0 10px;
  }
  #menu-classic .menu-holder {
    display: block !important;
    float: none !important;
    margin: 0;
    margin-top: 5px;
  }  
  #menu-classic .menu-holder ul{
    display: flex !important;
    justify-content: space-around;
  }
  header nav.navbar #menu-classic .menu-holder ul li a {
    margin-right:0;
    margin-top: 10px;
    padding: 10px 0 2px 0;
  }
}