@font-face {
  font-family: 'brandon_grotesque_regular';
  src: url('../fonts/Brandon Grotesque/brandon_reg-webfont.woff2') format('woff2'),
       url('../fonts/Brandon Grotesque/brandon_reg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesquemedium';
  src: url('../fonts/Brandon Grotesque/brandon_med-webfont.woff2') format('woff2'),
       url('../fonts/Brandon Grotesque/brandon_med-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesquebold';
  src: url('../fonts/Brandon Grotesque/brandon_bld-webfont.woff2') format('woff2'),
       url('../fonts/Brandon Grotesque/brandon_bld-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Filters */

#page-content #projects ul.filters li {
  padding: 0 15px;
}

.projects-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}
.projects-items .single-item {
  flex: 1;
  min-width: 300px;
  cursor: pointer;
}
.projects-items .single-item > .item {
}

#page-content #projects .projects-items .single-item .item h3 a {
  color: #333;
}

#page-content #projects .projects-items .single-item:hover .item h3 a {
  color: #000;
}

.single-item .item-image {
  background: transparent center top no-repeat;
  background-size: contain;
  height: 300px;
}

.session {
  background: #e9eef4;
  /*background: center center no-repeat url('../img/example-session.jpg');*/
  /*background-size: cover;*/
  font-family: 'brandon_grotesquebold', sans-serif;
  text-transform: uppercase;
  /*padding: 15px;*/
  box-sizing: border-box;
  width: 300px;
  height: 280px;
  margin: 25px;
  position: relative;
  cursor:pointer;
}
.session-title {
  font-size: 26px;
  letter-spacing: 1px;
  position: absolute;
  left: 15px;
  bottom: 12px;
  width: 256px;`
  overflow:hidden;
  line-height: 32px;
  color: #3345f1;
  /*font-weight: bold;*/
}
.session-date {
  margin-top:10px;
  letter-spacing: 0.6px;
  font-size: 0.67em;
  color: #000;
  line-height: 1.25em;
  
}
.session-author {
  letter-spacing: 0.6px;
  font-size: 0.67em;
  line-height: 1.25em;
}
.session-corner {
  opacity:0;
  width: 130px;
  position: absolute;
  transition: opacity 0.5s;
}
.session:hover .session-corner {
  opacity:1;
  transition: opacity 0.2s;
}

/* Session that is a workshop */
.session.tag-workshop {
  background-color: #3345f1;
}
.session.tag-workshop .session-title,
.session.tag-workshop .session-author {
  color: #fff;
}
.session.tag-workshop .session-date {
  color: #000;
}

/* Lists on the Details page */
.le-content ul,
.le-content ol {
  list-style: disc;
  margin-left: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

/* Circle icons */

.overflow-hidden {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.circle-icon {
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  right: 8px;
  bottom: 10px;
  background: #fff center center no-repeat;
  /*box-shadow: 1px 1px 1px #cecece;*/
  background-size: 84% auto;
  background-image: url("https://i.imgur.com/lw81VKu.png");

/*  -webkit-clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
  clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);*/
}
.circle-icon.tag-bitcoin { background-image: url(../img/circle-icon/bitcoin.png); }
.circle-icon.tag-ethereum { background-image: url("../img/circle-icon/ethereum.png"); }
.circle-icon.tag-trezor { background-image: url("../img/circle-icon/trezor.png"); }
.circle-icon.tag-rchain { background-image: url("../img/circle-icon/rchain.png"); }
.circle-icon.tag-steemit { background-image: url("../img/circle-icon/steemit.png"); }
.circle-icon.tag-ING { background-image: url("../img/circle-icon/ing.png"); }
.circle-icon.tag-rabobank { background-image: url("../img/circle-icon/rabobank.png"); }
.circle-icon.tag-dtube { background-image: url("../img/circle-icon/dtube.png"); }
.circle-icon.tag-eos { background-image: url("../img/circle-icon/eos.png"); }
.circle-icon.tag-komodo { background-image: url("../img/circle-icon/komodo.png"); }
.circle-icon.tag-mars { background-image: url("../img/circle-icon/mars.png"); }

/* Fav */

.toggle-fav {
  background: center center no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  margin-left: 14px;
  position: relative;
  top: 3px;
  background-image: url("https://cdn2.iconfinder.com/data/icons/icojoy/shadow/standart/gif/24x24/001_17.gif");
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}
.toggle-fav.is-fav {
  background-image: url("https://cdn2.iconfinder.com/data/icons/icojoy/noshadow/standart/png/24x24/001_15.png");
}
