.projects-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.projects-items .single-item {
  flex: 1;
  min-width: 300px;
}
.projects-items .single-item > .item {
}

.single-item .item-image {
  background: #3344f1 center center no-repeat;
  background-size: cover;
  height: 200px;
}

#page-header .text:before {
  transition: background 1s;
  background-position: 80% 100px;
}
#page-header:hover .text:before {
  background-position: 100% 0;
  transition: background 0.8s;
}
