@font-face {
  font-family: 'SourceSansPro Bold';
  src: url('fonts/SourceSansPro-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro Black';
  src: url('fonts/SourceSansPro-Black.otf');
  font-weight: normal;
  font-style: normal;
}

.projects-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.projects-items .single-item {
  flex: 1;
  min-width: 300px;
  cursor: pointer;
}
.projects-items .single-item > .item {
}

#page-content #projects .projects-items .single-item .item h3 a {
  color: #333;
}

#page-content #projects .projects-items .single-item:hover .item h3 a {
  color: #000;
}

.single-item .item-image {
  background: transparent center top no-repeat;
  background-size: contain;
  height: 300px;
}

.session {
  font-family: 'SourceSansPro Black', sans-serif;
  text-transform: uppercase;
  background: #e9eef4;
  padding: 15px;
  box-sizing: border-box;
  width: 300px;
  height: 280px;
  margin: 25px;
  position: relative;
  cursor:pointer;
}
.session-title {
  font-size: 24px;
  letter-spacing: 1px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 200px;
  line-height: 32px;
  color: #3345f1;
  font-weight: bold;
}
.session-date {
  margin-top:10px;
  font-size: 0.67em;;
  color: #000;
  line-height: 1.25em;;
}
.session-author {
  font-size: 0.67em;;
  line-height: 1.25em;;
}
.session-corner {
  opacity:0;
  width: 130px;
  position: absolute;
  transition: opacity 0.5s;
}
.session:hover .session-corner {
  opacity:1;
  transition: opacity 0.2s;
}

/* Session that is a workshop */
.session.tag-workshop {
  background-color: #3345f1;
}
.session.tag-workshop .session-title,
.session.tag-workshop .session-author {
  color: #fff;
}
.session.tag-workshop .session-date {
  color: #000;
}
